.idea
backend/photo_editing_api/postgres-data/data
backend/photo_editing_api/media/output
backend/photo_editing_api/media/uploads
backend/photo_editing_api/venv
backend/photo_editing_api/media/Mosaic_input
backend/photo_editing_api/media/datasets/stats.json
frontend/package-lock.json
*.pyc
*venv