.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
  }
  
  .navbar h1 {
    color: #fff;
  }
  
  .links {
    display: flex;
    gap: 1rem;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1; /* Add this line */
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:500px;
    margin: 40px 0px 0px 20px;
    /* margin-top: 2rem;
    margin-left:14rem; */
  }
  
  .grid-row {
    display: flex;
  }
  
  
  .image-wrapper {
    position: absolute; /* Add this line */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    
    cursor: pointer;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  input[type='file']:focus {
    outline: none;
  }
  
  
  .grid-item {
    position: relative;
    overflow: hidden;
    padding-top: 100%; /* 1:1 aspect ratio */
    border: 1px solid #e43c3c;
    flex-grow: 1;
    background-color: #f0f0f0;
  }
  .grid-item-wrapper {
    position: relative;
    padding-top: 100%; /* 1:1 aspect ratio */
    width: 100%;
    height: 0;
  }
  
  
  .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .plus-sign {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #ddd;
    z-index: 0; /* Add this line */
  }

.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px 2px;
    transition: color 0.3s, border-color 0.3s;
}

.remove-button:hover {
    color: rgba(255, 0, 0, 0.9);
    border-color: rgba(255, 0, 0, 0.9);
}
  
  .image-container:hover .remove-button {
    display: block;
  }
  .containerButton{
    margin-top: 5rem;
    margin-left: 42rem;
  }
  img {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .downloadButton{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    height:4rem;
    float: right;
    
  }

.zoom-in-button,
.zoom-out-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
  background-color: rgba(3, 7, 33, 0.73);
  border: black;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 16px;
  width: 25px;
}

.zoom-out-button {
  top: 5px;
  left: 35px;
}

.collapsed-visual-cue {
    color: white; /* Adjust color as needed */
    font-size: 24px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full height of the collapsed sider */
    cursor: pointer;
}

    /* Additional styling for the icon/image */
    .collapsed-visual-cue i {
        transition: transform 0.2s;
    }

    .collapsed-visual-cue:hover i {
        transform: scale(1.1); /* Slightly enlarge the icon on hover */
    }

.collapsed-visual-cue {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

    .collapsed-visual-cue:hover {
        /* Styles for hover state */
    }


/* This will apply to the Menu within the Sider when it is not collapsed */
.sider-menu {
    overflow-y: auto;
    height: calc(100vh - 50px); /* Adjust the 50px if you have other elements inside your Sider that take up space */
}

/* Ensure the overall layout has a full height for proper scrolling behavior */
.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Add this if you don't have it yet - it prevents the page from being larger than the viewport height */
html, body, #root, .ant-layout {
    height: 100%;
}

.images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
    padding: 10px;
}

.image-item {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s;
    position: relative;
}

    .image-item:hover {
        transform: scale(1.05);
    }

.image {
    width: 100%;
    display: block;
}

.remove-image-btn {
    position: absolute;
    bottom: 2px;
    left: 65px;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px 2px;
    transition: color 0.3s, border-color 0.3s;
}

    .remove-image-btn:hover {
        color: rgba(255, 0, 0, 0.9);
        border-color: rgba(255, 0, 0, 0.9);
    }

    .bordered-div {
      border-top: 2px solid #00ffdd;
      border-left: 2px solid #FF0000; /* You can change #FF0000 to the color of your choice */
       /* Optional: Add padding for better visualization */
    }
    
    .button-split {
      position: absolute;
      top: 3px;
      right: 3px;

      
    }