/* General Styles */
body {
    background-color: #f5f7fa;
}

/* Sidebar Styles */
.sidebar {
    background-color: #5c6ac4;
    padding: 20px;
}

.ant-layout-sider-trigger {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #5c6ac4;
    color: #FFFFFF;
    border-top: 2px solid #1a2a49;
    transition: all 0.3s ease;
}

    .ant-layout-sider-trigger:hover {
        background-color: #4a58a3;
        color: #ee4f84;
    }

    .ant-layout-sider-trigger i {
        line-height: 50px;
        font-size: 20px;
    }

/* Input Styles */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

    .input-container label {
        margin-bottom: 5px;
        font-size: 16px;
        color: #fff;
    }

    .input-container input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        width: 150px;
    }

        .input-container input:focus {
            outline: none;
            box-shadow: 0px 0px 15px rgba(238, 79, 132, 0.5);
        }

/* Card Styles */
.passport-photo-card {
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

    .passport-photo-card:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        transform: translateY(-5px);
    }

/* Center Card Styles */
.center-card-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
}

/* Label Styles */
.label {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

/* Button Styles */
.ant-btn {
    border-radius: 5px;
    transition: all 0.3s;
    background-color: #ee4f84;
    border-color: #ee4f84;
    color: #fff;
}

    .ant-btn:hover {
        background-color: #d94373;
        border-color: #d94373;
        transform: translateY(-2px);
    }

    .scrollable-container {
        width: 300px;
        height: 190px;
        overflow: scroll;
        margin-top: 65px;
      }
      
      .image-item {
        width: 100%;
      }
 
     /* Customizing scrollbars */
.scrollable-container::-webkit-scrollbar {
    width: 7px;

  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .scrollable-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  /* Customizing horizontal scrollbar */
  .scrollable-container::-webkit-scrollbar:horizontal {
    height:7px;
  }
.scrollable-container::-webkit-scrollbar-thumb:horizontal {
    background-color: #888;
    border-radius: 100px;
  }
  
  .scrollable-container::-webkit-scrollbar-track:horizontal {
    background-color: #f1f1f1;
  }

  