/* Main containers */
.passport-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 50px;
}

.center-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-radius: 10px;
}

/* Individual elements */
.ant-upload {
    cursor: pointer;
}

.passport-photo-card {
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.uploaded-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

/* Styles for the collapsed Sider */
.ant-layout-sider-collapsed .ant-slider {
    display: none; /* hides the sliders */
}

.collapsed-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.collapsed-icon {
    margin: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -20%;
}


